Workspace1/.metadata/.bak_0.log
Workspace1/.metadata/.lock
Workspace1/.metadata/.log
Workspace1/.metadata/.mylyn/
Workspace1/.metadata/.plugins/org.eclipse.core.resources/
Workspace1/.metadata/.plugins/org.eclipse.core.runtime/
Workspace1/.metadata/.plugins/org.eclipse.debug.core/
Workspace1/.metadata/.plugins/org.eclipse.e4.workbench/
Workspace1/.metadata/.plugins/org.eclipse.jdt.core/
Workspace1/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/
Workspace1/.metadata/.plugins/org.eclipse.ltk.core.refactoring/
Workspace1/.metadata/.plugins/org.eclipse.m2e.core/
Workspace1/.metadata/.plugins/org.eclipse.m2e.jdt/
Workspace1/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Workspace1/.metadata/.plugins/org.eclipse.oomph.setup/
Workspace1/.metadata/.plugins/org.eclipse.pde.core/
Workspace1/.metadata/.plugins/org.eclipse.rse.core/
Workspace1/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/
Workspace1/.metadata/.plugins/org.eclipse.ui.intro/
Workspace1/.metadata/.plugins/org.eclipse.wst.jsdt.core/
Workspace1/.metadata/.plugins/org.eclipse.wst.sse.core/
Workspace1/.metadata/version.ini
Workspace1/Assignment/.classpath
Workspace1/Assignment/.project
Workspace1/Assignment/.settings/
Workspace1/Assignment/screenshot/
Workspace1/Assignment/src/test/resources/
Workspace1/Assignment/target/classes/AshotScreenshot.class
Workspace1/Assignment/target/classes/META-INF/MANIFEST.MF
Workspace1/Assignment/target/classes/META-INF/maven/com.sopra/Assignment/pom.properties
Workspace1/Assignment/target/test-classes/
Workspace1/Assignment/test-output/Default suite/Default test.html
Workspace1/Assignment/test-output/Suite/Test.html
Workspace1/Assignment/test-output/Suite/Test2.html
Workspace1/Assignment/test-output/bullet_point.png
Workspace1/Assignment/test-output/collapseall.gif
Workspace1/Assignment/test-output/emailable-report.html
Workspace1/Assignment/test-output/failed.png
Workspace1/Assignment/test-output/index.html
Workspace1/Assignment/test-output/jquery-1.7.1.min.js
Workspace1/Assignment/test-output/jquery-3.4.1.min.js
Workspace1/Assignment/test-output/navigator-bullet.png
Workspace1/Assignment/test-output/old/
Workspace1/Assignment/test-output/passed.png
Workspace1/Assignment/test-output/skipped.png
Workspace1/Assignment/test-output/testng-reports.css
Workspace1/Assignment/test-output/testng-reports.js
Workspace1/Assignment/test-output/testng.css
Workspace1/Assignment2/.classpath
Workspace1/Assignment2/.project
Workspace1/Assignment2/.settings/
Workspace1/Assignment2/reports/
Workspace1/Assignment2/screenshot/
Workspace1/Assignment2/src/test/resources/
Workspace1/Assignment2/target/classes/META-INF/MANIFEST.MF
Workspace1/Assignment2/target/classes/META-INF/maven/com.steria/Assignment/pom.properties
Workspace1/Assignment2/target/test-classes/
Workspace1/Assignment2/test-output/Default suite/Default test.html
Workspace1/Assignment2/test-output/Suite/Test.html
Workspace1/Assignment2/test-output/bullet_point.png
Workspace1/Assignment2/test-output/collapseall.gif
Workspace1/Assignment2/test-output/emailable-report.html
Workspace1/Assignment2/test-output/failed.png
Workspace1/Assignment2/test-output/index.html
Workspace1/Assignment2/test-output/jquery-1.7.1.min.js
Workspace1/Assignment2/test-output/navigator-bullet.png
Workspace1/Assignment2/test-output/old/
Workspace1/Assignment2/test-output/passed.png
Workspace1/Assignment2/test-output/skipped.png
Workspace1/Assignment2/test-output/testng-reports.css
Workspace1/Assignment2/test-output/testng-reports.js
Workspace1/Assignment2/test-output/testng.css
Workspace1/BasicAutomation/.classpath
Workspace1/BasicAutomation/.project
Workspace1/BasicAutomation/.settings/
Workspace1/BasicAutomation/target/classes/META-INF/MANIFEST.MF
Workspace1/BasicAutomation/target/classes/META-INF/maven/com.sopra/BasicAutomation/pom.properties
Workspace1/BasicAutomation/target/test-classes/
